<div class="cv-body-viewport">
  <span *ngIf="isLoading">Loading Data. Please wait... (The load is currently 100k pargraphs, if the data was partitioned per api call, this would be faster)</span>
  <div class="search-results" infinite-scroll
       [infiniteScrollDistance]="scrollDistance"
       [infiniteScrollUpDistance]="scrollUpDistance"
       [infiniteScrollThrottle]="throttle"
       [scrollWindow]="false"
       (scrolled)="onScrollDown()"
       (scrolledUp)="onUp()">
    <app-tr-cv-paragraph *ngFor="let paragraph of displayedContractParagraphs"
                         [trParagraphText]="paragraph.attributes.text"></app-tr-cv-paragraph>
  </div>
</div>

